<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="databaseURL" value="192.168.70.199"/>
    <add key="databaseName" value="decreddata"/>
    <add key="databaseUsr" value="merlin"/>
    <add key="databasePwd" value="fantastic"/>
    <add key="germanyURL" value="79.143.178.99"/>
    <add key="germanyPort" value="2211"/>
    <add key="germanyUsr" value="dcr"/>
    <add key="germanyPwd" value="Havasi55"/>
    <add key="canadaURL" value="66.70.188.181"/>
    <add key="canadaPort" value="2211"/>
    <add key="canadaUsr" value="dcr"/>
    <add key="canadaPwd" value="Havasi44Havasi55"/>
    <add key="australiaURL" value="139.99.236.112"/>
    <add key="australiaPort" value="2211"/>
    <add key="australiaUsr" value="dcr"/>
    <add key="australiaPwd" value="Havasi44Havasi55"/>
  </appSettings>
</configuration>